html, body {
  margin: 0;
  padding: 20px;
  line-height: 1.6;
  font-family: Georgia, serif;
}

/*index.html intro*/
.intro {
  min-height: 78vh;
  display: flex;
  align-items: center;
}

.intro p {
  max-width: 680px;
}

/* Blog / Archiv */

.idios-blog {
  margin-top: 70px;
  max-width: 900px;
}

.idios-entry {
  margin-bottom: 70px;
}

.idios-entry-meta {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-bottom: 8px;
  font-size: 1rem;
}

.idios-entry-box {
  border: 4px solid #4d6f57;
  padding: 22px;
}

.idios-entry-box img {
    display: block;
    max-width: 100%;
    max-height: 70vh;
    width: auto;
    height: auto;
    margin: 20px auto 0 auto;
}

/* ===== Rahmenfarben ===== */

.a .idios-entry-box { border-color:#4d6f57; }   /* dunkles Grün */
.b .idios-entry-box { border-color:#466d9e; }   /* Stahlblau */
.c .idios-entry-box { border-color:#8a3f4d; }   /* Bordeaux */
.d .idios-entry-box { border-color:#9d8a45; }   /* Ocker */
.e .idios-entry-box { border-color:#26706f; }   /* Petrol */
.f .idios-entry-box { border-color:#666666; }   /* Grau */

.g .idios-entry-box { border-color:#ff1493; }   /* Pink */
.h .idios-entry-box { border-color:#ff6a00; }   /* Orange */
.i .idios-entry-box { border-color:#ffd400; }   /* Gelb */
.j .idios-entry-box { border-color:#0057ff; }   /* Knallblau */
.k .idios-entry-box { border-color:#39ff14; }   /* Neongrün */
.l .idios-entry-box { border-color:#8f00ff; }   /* Violett */

.m .idios-entry-box { border-color:#ff0033; }   /* Rot */
.n .idios-entry-box { border-color:#00d4ff; }   /* Cyan */
.o .idios-entry-box { border-color:#00b894; }   /* Türkis */
.p .idios-entry-box { border-color:#c0392b; }   /* Ziegelrot */
.q .idios-entry-box { border-color:#6c5ce7; }   /* Lila */
.r .idios-entry-box { border-color:#e17055; }   /* Koralle */

.s .idios-entry-box { border-color:#2d3436; }   /* Anthrazit */
.t .idios-entry-box { border-color:#b8860b; }   /* Goldbraun */
.u .idios-entry-box { border-color:#7f8c8d; }   /* Schiefer */
.v .idios-entry-box { border-color:#d81b60; }   /* Magenta */
.w .idios-entry-box { border-color:#1abc9c; }   /* Aquamarin */
.x .idios-entry-box { border-color:#e67e22; }   /* Mandarine */

.y .idios-entry-box { border-color:#9b59b6; }   /* Lavendel */
.z .idios-entry-box { border-color:#2ecc71; }   /* Smaragd */





